.movie-card {
  background-color: #fff0f5; 
  border: 2px solid #ffb6c1;
  border-radius: 15px;
  padding: 12px; 
  text-align: center;
  box-shadow: 0 6px 12px rgba(255, 182, 193, 0.35); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.movie-card:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 12px 24px rgba(255, 182, 193, 0.5);
}

.movie-poster {
  width: 100%;
  height: 220px; 
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

.movie-title {
  color: #ff1493;
  font-weight: bold;
  font-size: 1rem; 
  margin: 8px 0 4px;
}

.movie-year {
  color: #f06292;
  font-size: 0.85rem;
  margin-bottom: 8px;
}

.movie-desc {
  font-size: 0.8rem; 
  color: #444;
  line-height: 1.2;
  margin-bottom: 5px;
}




.movie-card a {
  text-decoration: none; 
  color: inherit;        
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
