.footer {
  width: 100%;
  padding: 20px 0;
  background-color: #1c0505;
  text-align: center;
  color: #f4eaea;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  bottom: 0;
}

.footer p {
  margin: 0;
  opacity: 0.8;
}
