
.item-card {
  width: 260px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.item-card:hover {
  transform: scale(1.05);
}


.item-image {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 6px;
}


.item-title {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 600;
}


.item-artist {
  font-size: 18px;
  margin-top: 4px;
  opacity: 0.8;
}
