
.navbar {
  width: 100%;
  height: 70px;
  background-color: #53161d; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 100;
}


.nav-icon {
  width: 60px;     
  height: 60px;      
  cursor: pointer;
  margin: 0 12px;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.nav-icon:hover {
  transform: scale(1.15);
  opacity: 0.85;
}


.navbar-search {
  display: flex;
  align-items: center;
  background-color: #ffe0e0;
  padding: 8px 12px;   
  border-radius: 10px;
  flex: 1;
  max-width: 500px;
  margin: 0 20px;
}


.search-input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #915454;
  font-size: 18px;   
}


.search-icon {
  width: 32px;      
  height: 32px;       
  cursor: pointer;
  margin-left: 10px;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.search-icon:hover {
  transform: scale(1.15);
  opacity: 0.85;
}


.navbar-right {
  display: flex;
  align-items: center;
}

